In [54]:
#ordinal and label encoding

In [55]:
import pandas as pd
import numpy as np

In [56]:
df=pd.read_csv("customer.csv")
df.sample(5)

    age  gender   review education purchased
17   22  Female     Poor        UG       Yes
24   16  Female  Average        PG       Yes
37   94    Male  Average        PG       Yes
23   96  Female     Good    School        No
1    68  Female     Poor        UG        No

In [57]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [58]:
x=df.iloc[:,:2]
y=df.iloc[:,2:]

In [59]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=0)
X_train.shape,X_test.shape

((40, 2), (10, 2))

In [60]:
#ordinal encoding

In [61]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(X_train)         
X_train = oe.transform(X_train)
X_test  = oe.transform(X_test)

In [66]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [73]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
LE.fit(Y_train)
Y_train=LE.transform(Y_train)
Y_test=LE.transform(Y_test)

E:\anaconda-2\Lib\site-packages\sklearn\preprocessing\_label.py:93: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\anaconda-2\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
E:\anaconda-2\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [74]:
Y_train

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [62]:
#array to DF

In [75]:
X_train=pd.DataFrame(X_train,columns=['review','education'])
X_test=pd.DataFrame(X_test,columns=['review','education'])
Y_train=pd.DataFrame(Y_train,columns=['purchased'])
Y_test=pd.DataFrame(Y_test,columns=['purchased'])

In [ ]:
#logistic regression

In [97]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
LR.fit(X_train,Y_train)
ans=LR.predict(X_test)

E:\anaconda-2\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [98]:
from sklearn.metrics import accuracy_score
a=accuracy_score(ans,Y_test)
a

0.5